html
	head
		title= "Node chat"
		link(href='/styles.css' rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/chat.js')
	body
		.wrapper
			#content
			#users
			form#form-enter(onsubmit='return false')
				input#name(type='text' placeholder='Ваш никнейм')
				input#btn-enter.button(type='submit', value='Войти')
			form#form-send(onsubmit='return false')
				input#field(type='text')
				input#btn-send.button(type='submit', value='Отправить')
