html
	head
		title= "Node chat"
		link(href='/styles.css' rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/chat.js')
	body
		.wrapper
			#content
			#users
			#enter-wrapper
				input#name(type='text' placeholder='Ваш никнейм')
				input#btn-enter.button(type='button', value='Войти')
			#send-wrapper
				input#field(type='text' style="width:350px;")
				input#btn-send.button(type='button', value='Отправить')
